.board-container{
    height: 100vh;
    overflow: scroll;
}

.board{
    padding: 50vh 50vw 50vh 50vw;
    width: fit-content;
    height: fit-content;
}

.board-row{
    display: flex;
    width: fit-content;
}